{% load i18n %}
{% if request.session.two_fa_required %}
<div class="modal fade" id="twoFactorAuthVerifyLoginModal" tabindex="-1" aria-labelledby="twoFactorAuthVerifyLoginModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="twoFactorAuthVerifyLoginModalLabel">{% trans 'span_tfa_enable_long' %}</span>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="twoFactorAuthVerifyLogin(event)">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_tfa_code' %}</span>
                        <label for="etfac" class="d-none">{% trans 'form_label_tfa_code' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="etfac" name="two_fa_code" type="text" placeholder="{% trans 'form_placeholder_tfa_code' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="ft_text-danger" id="twofactorauthverifylogin_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-success flex-grow-1">{% trans 'main_tfa_verify_code' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% elif control_user.null_password %}
<div class="modal fade" id="configurePasswordModal" tabindex="-1" aria-labelledby="configurePasswordModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="configurePasswordModalLabel">{% trans 'span_config_pass' %}</span>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="configurePassword(event)">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_password_main' %}</span>
                        <label for="sescp" class="d-none">{% trans 'form_label_password_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="sescp" name="password" type="password" placeholder="{% trans 'form_placeholder_password_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_confirm' %}</span>
                        <label for="sesccp" class="d-none">{% trans 'form_label_password_confirm' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="sesccp" name="confirm_password" type="password" placeholder="{% trans 'form_placeholder_password_confirm' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="ft_text-danger" id="configurepassword_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-primary flex-grow-1">{% trans 'span_config_pass' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% elif control_user %}
<div class="modal modal-lg fade" id="profileSettingsModal" tabindex="-1" aria-labelledby="profileSettingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="profileSettingsModalLabel">{% trans 'span_profile_settings' %}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="updateUser(event)">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_name_first' %}</span>
                        <label for="setfn" class="d-none">{% trans 'form_label_name_first' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setfn" name="first_name" type="text" placeholder="{% trans 'form_placeholder_name_first' %}" value="{{ control_user.first_name }}" autocomplete="off" {% if control_user.ft_link %} readonly {% endif %} />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_name_last' %}</span>
                        <label for="setln" class="d-none">{% trans 'form_label_name_last' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setln" name="last_name" type="text" placeholder="{% trans 'form_placeholder_name_last' %}" value="{{ control_user.last_name }}" autocomplete="off" {% if control_user.ft_link %} readonly {% endif %} />
                        </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-start">
                        <div class="form__group ft_mini_span d-flex align-items-center">
                            <input id="setan" name="anonymous_name" type="checkbox" {% if control_user.anonymous_name %} checked {% endif %}/>
                            <label for="setan" class="ms-2">{% trans 'form_label_name_anonymous' %}</label>
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_username_main' %}</span>
                        <label for="setu" class="d-none">{% trans 'form_label_username_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setu" name="username" type="text" placeholder="{% trans 'form_placeholder_username_main' %}" value="{{ control_user.username }}" autocomplete="off" {% if control_user.ft_link %} readonly {% endif %} />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <div>
                            <span class="ft_span">{% trans 'main_language' %}</span>
                            <label for="cll" class="d-none">{% trans 'main_language' %}</label>
                        </div>
                        <div class="ft_input_div mt-2">
                            <input id="cll" name="lang" class="ft_mini_span text-uppercase" type="text" value="{{ control_user.lang|default:LANGUAGE_CODE }}" readonly />
                        </div>
                        <div class="mt-2">
{% for code, name in LANGUAGES %}
                            <div class="d-flex {% if not forloop.first %}mt-2{% endif %}">
                                <button type="button" class="ft_button ft_button-light flex-grow-1" onclick="document.getElementById('cll').value=this.value" value="{{code}}">{{name}}</button>
                            </div>
{% endfor %}
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_old' %}</span>
                        <label for="setop" class="d-none">{% trans 'form_label_password_old' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setop" name="old_password" type="password" placeholder="{% trans 'form_placeholder_password_old' %}" autocomplete="off" />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_new' %}</span>
                        <label for="setnp" class="d-none">{% trans 'form_label_password_new' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setnp" name="new_password" type="password" placeholder="{% trans 'form_placeholder_password_new' %}" autocomplete="off" />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_confirm_new' %}</span>
                        <label for="setcnp" class="d-none">{% trans 'form_label_password_confirm_new' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setcnp" name="confirm_new_password" type="password" placeholder="{% trans 'form_placeholder_password_confirm_new' %}" autocomplete="off" />
                        </div>
                    </div>
{% if not control_user.ft_link %}
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_profile_image' %}</span>
                        <label for="setpi" class="d-none">{% trans 'form_label_profile_image' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setpi_helper" type="text" value="{{ control_user.profile_image }}" readonly />
                        </div>
                        <input id="setpi" name="profile_image" type="file" class="d-none" onchange="document.getElementById('setpi_helper').value=this.value" />
                        <div class="d-flex mt-2">
                            <button type="button" class="ft_button ft_button-light flex-grow-1" onclick="document.getElementById('setpi').click();">{% trans 'main_image_profile_upload' %}</button>
                        </div>
                    </div>
{% endif %}
                    <div class="ft_text-danger" id="profilesettings_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-primary flex-grow-1">{% trans 'main_save_changes' %}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close' %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="deleteAccountModalLabel">{% trans 'main_delete_account' %}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="deleteAccount(event)">
                    <div>
                        <div class="ft_mini_span d-flex flex-row align-items-center ft_text-danger">
                            <i class="bi bi-exclamation-triangle"></i>
                            <span class="ms-1">{% trans 'logs_warn_delete_account_1' %}</span>
                        </div>
                        <div class="ft_mini_span d-flex flex-row align-items-center ft_text-danger mt-2">
                            <i class="bi bi-exclamation-triangle"></i>
                            <span class="ms-1">{% trans 'logs_warn_delete_account_2' %}</span>
                        </div>
                    </div>
                    <div class="text-start mt-2">
                        <span class="ft_span">{% trans 'form_label_username_main' %}</span>
                        <label for="dau" class="d-none">{% trans 'form_label_username_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="dau" name="username" type="text" placeholder="{% trans 'form_placeholder_username_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_main' %}</span>
                        <label for="dap" class="d-none">{% trans 'form_label_password_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="dap" name="password" type="password" placeholder="{% trans 'form_placeholder_password_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="ft_text-danger" id="deleteaccount_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-danger flex-grow-1">{% trans 'main_delete_account' %}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close' %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-lg fade" id="addFriendModal" tabindex="-1" aria-labelledby="addFriendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="addFriendModalLabel">{% trans 'main_friend_add' %}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="addFriend(event)">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_username_friend' %}</span>
                        <label for="affu" class="d-none">{% trans 'form_label_username_friend' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="affu" name="friend_user" type="text" placeholder="{% trans 'form_placeholder_username_friend' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="ft_text-danger" id="addfriend_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-primary flex-grow-1">{% trans 'main_friend_add' %}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close' %}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="endGameModal" tabindex="-1" aria-labelledby="endGameModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="endGameModalLabel">{% trans 'main_game_over' %}</span>
                <button type="button" class="btn-close" onclick="gameNavigate(event, 'index/')" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <p>{% trans 'main_game_over_message' %}</p>
                <div class="d-flex mt-3">
                    <button type="button" class="ft_button ft_button-primary flex-grow-1" onclick="gameNavigate(event, 'index/')">{% trans 'main_close' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="modal modal-lg fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="signUpModalLabel">{% trans 'main_sign_up' %}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="signUp(event)" enctype="multipart/form-data">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_name_first' %}</span>
                        <label for="sufn" class="d-none">{% trans 'form_label_name_first' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="sufn" name="first_name" type="text" placeholder="{% trans 'form_placeholder_name_first' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_name_last' %}</span>
                        <label for="suln" class="d-none">{% trans 'form_label_name_last' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="suln" name="last_name" type="text" placeholder="{% trans 'form_placeholder_name_last' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_username_main' %}</span>
                        <label for="suu" class="d-none">{% trans 'form_label_username_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="suu" name="username" type="text" placeholder="{% trans 'form_placeholder_username_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_main' %}</span>
                        <label for="sup" class="d-none">{% trans 'form_label_password_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="sup" name="password" type="password" placeholder="{% trans 'form_placeholder_password_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_confirm' %}</span>
                        <label for="sucp" class="d-none">{% trans 'form_label_password_confirm' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="sucp" name="confirm_password" type="password" placeholder="{% trans 'form_placeholder_password_confirm' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_profile_image' %}</span>
                        <label for="setpi" class="d-none">{% trans 'form_label_profile_image' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="setpi_helper" type="text" readonly />
                        </div>
                        <input id="setpi" name="profile_image" type="file" class="d-none" onchange="document.getElementById('setpi_helper').value=this.value" />
                        <div class="d-flex mt-2">
                            <button type="button" class="ft_button ft_button-light flex-grow-1" onclick="document.getElementById('setpi').click();">{% trans 'main_image_profile_upload' %}</button>
                        </div>
                    </div>
                    <div class="mt-3 d-flex justify-content-start">
                        <div class="form__group ft_mini_span d-flex align-items-center">
                            <input id="suat" name="accept_terms" type="checkbox" />
                            <label for="suat" class="ms-2 ft_mini_span">
                                {% trans 'main_accept'%} <a onclick="changePage(event, '/', 'terms/', false)">{% trans 'terms_span'%}</a>.
                            </label>
                        </div>
                    </div>
                    <div class="ft_text-danger" id="signup_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-success flex-grow-1">{% trans 'main_sign_up'%}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close'%}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="signInModalLabel">{% trans 'main_sign_in'%}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="signIn(event)">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_username_main' %}</span>
                        <label for="siu" class="d-none">{% trans 'form_label_username_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="siu" name="username" type="text" placeholder="{% trans 'form_placeholder_username_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="text-start mt-3">
                        <span class="ft_span">{% trans 'form_label_password_main' %}</span>
                        <label for="sip" class="d-none">{% trans 'form_label_password_main' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="sip" name="password" type="password" placeholder="{% trans 'form_placeholder_password_main' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="ft_text-danger" id="signin_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-success flex-grow-1">{% trans 'main_sign_in'%}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close'%}</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeLanguageModal" tabindex="-1" aria-labelledby="changeLanguageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="changeLanguageModalLabel">{% trans 'main_change_lang' %}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <form class="form" onsubmit="changeLanguage(event)">
                    <input id="cll" name="lang" type="hidden" value="{{ request.session.lang|default:LANGUAGE_CODE }}" />
{% for code, name in LANGUAGES %}
                    <div class="d-flex {% if not forloop.first %}mt-2{% endif %}">
                        <button class="ft_button ft_button-light flex-grow-1" onclick="document.getElementById('cll').value=this.value" value="{{code}}">{{name}}</button>
                    </div>
{% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close' %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

