:root {
	--ft-bg: #000000;
	--ft-color: #ffffff;

	--ft-hover-light-color: #000000;
	--ft-low-light-color: #bbbbbb;
	--ft-medium-light-color: #dddddd;
	--ft-high-light-color: #ffffff;
	--ft-light-border-color: linear-gradient(-45deg, var(--ft-high-light-color), var(--ft-medium-light-color), var(--ft-low-light-color));

	--ft-low-primary-color: #0033bb;
	--ft-medium-primary-color: #0055dd;
	--ft-high-primary-color: #0077ff;
	--ft-primary-border-color: linear-gradient(-45deg, var(--ft-high-primary-color), var(--ft-medium-primary-color), var(--ft-low-primary-color));

	--ft-low-success-color: #005500;
	--ft-medium-success-color: #007700c4;
	--ft-high-success-color: #009900;
	--ft-success-border-color: linear-gradient(-45deg, var(--ft-high-success-color), var(--ft-medium-success-color), var(--ft-low-success-color));

	--ft-low-danger-color: #bb0000;
	--ft-medium-danger-color: #dd0000bd;
	--ft-high-danger-color: #ff0000;
	--ft-danger-border-color: linear-gradient(-45deg, var(--ft-high-danger-color), var(--ft-medium-danger-color), var(--ft-low-danger-color));
}

@font-face {
	font-family: 'Bahnschrift';
	src: url('../fonts/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF');
}

@font-face {
	font-family: 'Bitstream Vera Mono';
	src: url('../fonts/bitstream_vera_mono/VeraMono.ttf');
}

@font-face {
	font-family: 'PressStart2P';
	src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

body {
	font-family: 'Bahnschrift';
	accent-color: var(--ft-medium-success-color);
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

body,
.modal-content {
	background-color: var(--ft-bg);
}

#content {
	flex: 1;
	overflow-y: auto;
}

code,
input,
.ft_page_error,
.ft_page_error_mini {
	font-family: 'Bitstream Vera Mono';
}

a {
	transition: 0.4s;
}

a:hover {
	opacity: 0.6;
	cursor: pointer;
}

.ft_img_div {
	--bg: var(--ft-bg);
	--curve-size: 16%;
	width: 100%;
	height: 100%;
	clip-path: polygon(
			/* Top-left */
			0% var(--curve-size),
			var(--curve-size) 0,
			/* top-right */
			100% 0,
			100% calc(100% - var(--curve-size)),
			/* bottom-right 1 */
			calc(100% - var(--curve-size)) 100%,
			/* bottom-right 2 */
			0 100%);
	position: relative;
	background: var(--border-color);
}

.ft_img_mini {
	width: 3.125em;
	height: 3.125em;
	--border-width: 4%;
}

.ft_img_normal {
	max-width: 15.625em;
	max-height: 15.625em;
	min-width: 4.6875em;
	min-height: 4.6875em;
	--border-width: 2%;
}

.ft_img_div-light {
	--border-color: var(--ft-medium-light-color);
}

.ft_img_div-primary {
	--border-color: var(--ft-medium-primary-color);
}

.ft_img_div-success {
	--border-color: var(--ft-medium-success-color);
}

.ft_img_div-danger {
	--border-color: var(--ft-medium-danger-color);
}

.ft_img_div>img {
	--border-width: inherit;
	--curve-size: inherit;
	--bg: inherit;
	--border: inherit;
	padding: var(--border-width);
	width: 100%;
	height: 100%;
	clip-path: polygon(
			/* Top-left */
			var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
			calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
			/* top-right */
			calc(100% - var(--border-width)) var(--border-width),
			calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
			/* bottom-right 1 */
			calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
			/* bottom-right 2 */
			var(--border-width) calc(100% - var(--border-width)));
	border: 0;
	object-fit: cover;
	background: var(--ft-bg);
}

.sticky {
	position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 10000; /* Ensure it is above other content */
}

.ft_button {
	--border-width: 0.125em;
	--curve-size: 0.5em;
	--blur: 30px;
	--bg: var(--ft-bg);
	--color: var(--ft-color);
	--height: 50px;
	height: var(--height);
	color: var(--color);
	cursor: pointer;
	/* use position: relative; so that BG is only for .btn */
	position: relative;
	isolation: isolate;
	display: inline-grid;
	place-content: center;
	padding: 0.5em 1.5em;
	font-size: 18px;
	border: 0;
	/* text-transform: uppercase; */
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
	clip-path: polygon(
			/* Top-left */
			0% var(--curve-size),
			var(--curve-size) 0,
			/* top-right */
			100% 0,
			100% calc(100% - var(--curve-size)),
			/* bottom-right 1 */
			calc(100% - var(--curve-size)) 100%,
			/* bottom-right 2 */
			0 100%);
	transition: color 250ms;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ft_button::after,
.ft_button::before {
	content: "";
	position: absolute;
	inset: 0;
}

.ft_button::before {
	background: var(--border-color);
	background-size: 300% 300%;
	animation: move-bg7234 5s ease infinite;
	z-index: -2;
}

@keyframes move-bg7234 {
	0% {
		background-position: 31% 0%;
	}

	50% {
		background-position: 70% 100%;
	}

	100% {
		background-position: 31% 0%;
	}
}

.ft_button::after {
	background: var(--bg);
	z-index: -1;
	clip-path: polygon(
			/* Top-left */
			var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
			calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
			/* top-right */
			calc(100% - var(--border-width)) var(--border-width),
			calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
			/* bottom-right 1 */
			calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
			/* bottom-right 2 */
			var(--border-width) calc(100% - var(--border-width)));
	transition: clip-path 500ms;
}

.ft_button:where(:hover)::after,
.ft_button:where(:active)::after {
	clip-path: polygon(
			/* Top-left */
			calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
			calc(100% - var(--border-width)) var(--border-width),
			/* top-right */
			calc(100% - var(--border-width)) var(--border-width),
			calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
			/* bottom-right 1 */
			calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
			/* bottom-right 2 */
			calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
	transition: 200ms;
}

.ft_button:where(:hover),
.ft_button:where(:active) {
	color: var(--ft-color);
}

.ft_button-light {
	--border-color: var(--ft-light-border-color);
}

.ft_button-light:hover {
	color: var(--ft-hover-light-color);
}

.ft_button-primary {
	--border-color: var(--ft-primary-border-color);
}

.ft_button-success {
	--border-color: var(--ft-success-border-color);
}

.ft_button-danger {
	--border-color: var(--ft-danger-border-color);
}

.ft_text-light {
	color: var(--ft-low-light-color);
}

.ft_text-primary {
	color: var(--ft-medium-primary-color);
}

.ft_text-success {
	color: var(--ft-medium-success-color);
}

.ft_text-danger {
	color: var(--ft-medium-danger-color);
}

.ft_label {
	font-size: 18px;
}

.ft_span {
	white-space: pre-line;
	font-size: 25px;
}

.ft_mini_span {
	font-size: 18px;
}

.ft_error {
	font-size: 18px;
}

.ft_remove_friend {
	transition: 0.4s;
	border: none;
}

.ft_remove_friend:hover {
	opacity: 0.8;
}

.ft_button-light:hover .ft_logo {
	filter: invert(1);
}

input[type="checkbox"],
input[type="radio"] {
	width: 1.2em;
	height: 1.2em;
}


.ft_input_div {
	--border-width: 0.125em;
	--curve-size: 0.5em;
	--bg: var(--ft-bg);
	--border-color: var(--ft-color);
	width: 100%;
	font-size: 18px;
	--height: 50px;
	--border: 2px;
	--depth: calc(var(--height) / 3);
	height: var(--height);
	clip-path: polygon(
			/* Top-left */
			0% var(--curve-size),
			var(--curve-size) 0,
			/* top-right */
			100% 0,
			100% calc(100% - var(--curve-size)),
			/* bottom-right 1 */
			calc(100% - var(--curve-size)) 100%,
			/* bottom-right 2 */
			0 100%);
	border: 0;
	background: var(--border-color);
	position: relative;
}

input {
	width: 100%;
	--border-width: inherit;
	--curve-size: inherit;
	--bg: inherit;
	--border-color: inherit;
	--border: inherit;
	--height: inherit;
	--depth: calc(var(--height) / 3);
	height: var(--height);
	clip-path: polygon(
			/* Top-left */
			var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
			calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
			/* top-right */
			calc(100% - var(--border-width)) var(--border-width),
			calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
			/* bottom-right 1 */
			calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
			/* bottom-right 2 */
			var(--border-width) calc(100% - var(--border-width)));
	border: 0;
	background: var(--bg);
	color: var(--border-color);
	padding-inline: var(--depth);
}

input:focus {
	outline: none;
}

input:focus:not(:read-only) {
	background: var(--border-color);
	color: var(--bg);
}

input:read-only:not([type="color"]) {
	cursor: default;
	opacity: 0.8;
}

input[type="checkbox"] {
	cursor: auto;
	opacity: auto;
}

input[type="color"] {
	cursor: pointer;
}

.ft_page_error {
	font-size: 64px;
}

.ft_page_error_mini {
	font-size: 32px;
}

.ft_title {
	font-size: 40px;
}

.ft_subtitle {
	font-size: 30px;
}

.ft_game_button {
	min-width: 300px;
	max-width: 600px;
}

.game-text {
	--size: 18px;
	border: 0;
	background: var(--ft-color);
	margin-inline: calc(var(--size) / 6);
	width: calc(var(--size) * 3);
	height: calc(var(--size) * 5);
}

.zero {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 100%,
			calc(100% / 3) 100%,
			calc(100% / 3) 80%,
			calc(200% / 3) 80%,
			calc(200% / 3) 20%,
			calc(100% / 3) 20%,
			calc(100% / 3) 100%,
			0% 100%);
}

.one {
	clip-path: polygon(calc(100% / 6) 15%,
			50% 0%,
			calc(50% + 100% / 3) 0%,
			calc(50% + 100% / 3) 100%,
			50% 100%,
			50% 25%,
			calc(100% / 6) 40%);
}

.two {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 60%,
			calc(100% / 3) 60%,
			calc(100% / 3) 80%,
			100% 80%,
			100% 100%,
			0% 100%,
			0% 40%,
			calc(200% / 3) 40%,
			calc(200% / 3) 20%,
			0% 20%);
}

.three {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 100%,
			0% 100%,
			0% 80%,
			calc(200% / 3) 80%,
			calc(200% / 3) 60%,
			0% 60%,
			0% 40%,
			calc(200% / 3) 40%,
			calc(200% / 3) 20%,
			0% 20%);
}

.four {
	clip-path: polygon(0% 0%,
			calc(100% / 3) 0%,
			calc(100% / 3) 40%,
			calc(200% / 3) 40%,
			calc(200% / 3) 0%,
			100% 0%,
			100% 100%,
			calc(200% / 3) 100%,
			calc(200% / 3) 60%,
			0% 60%);
}

.five {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 20%,
			calc(100% / 3) 20%,
			calc(100% / 3) 40%,
			100% 40%,
			100% 100%,
			0% 100%,
			0% 80%,
			calc(200% / 3) 80%,
			calc(200% / 3) 60%,
			0% 60%);
}

.six {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 20%,
			0% 20%,
			0% 100%,
			100% 100%,
			100% 40%,
			calc(200% / 3) 40%,
			calc(200% / 3) 80%,
			calc(100% / 3) 80%,
			calc(100% / 3) 60%,
			calc(200% / 3) 60%,
			calc(200% / 3) 40%,
			calc(100% / 3) 40%,
			calc(100% / 3) 20%,
			0% 20%);
}

.seven {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 20%,
			calc(100% / 3 + 5%) 100%,
			0% 100%,
			calc(200% / 3 - 5%) 20%,
			0% 20%);
}

.eight {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 100%,
			calc(200% / 3) 100%,
			calc(200% / 3) 20%,
			calc(100% / 3) 20%,
			calc(100% / 3) 40%,
			0% 40%,
			0% 100%,
			calc(200% / 3) 100%,
			calc(200% / 3) 80%,
			calc(100% / 3) 80%,
			calc(100% / 3) 60%,
			calc(200% / 3) 60%,
			calc(200% / 3) 40%,
			0% 40%);
}

.nine {
	clip-path: polygon(0% 0%,
			100% 0%,
			100% 100%,
			0% 100%,
			0% 80%,
			calc(200% / 3) 80%,
			calc(200% / 3) 20%,
			calc(100% / 3) 20%,
			calc(100% / 3) 40%,
			calc(200% / 3) 40%,
			calc(200% / 3) 60%,
			0% 60%);
}

.starfield {
  height: 100%;
  width: 100%;
}

/* Css for the homepage centered text */

.welcome_box {
	font-family: 'PressStart2P';
	border-radius: 20px;
	font-size: 25px;
	padding: 20px;
	user-select: none;
	animation: neon .08s ease-in-out infinite alternate;
  }

  .neon_effects {
	font-family: 'PressStart2P';
	font-size: 25px;
	animation: neon .08s ease-in-out infinite alternate;
	user-select: none;
  }

/* Users cant select the text */

.no_select {
  user-select: none;
}

/* Neon Effect */

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

.link {
	position: absolute;
	bottom: 10px; left: 10px;
	color: #828282;
	text-decoration: none;
	
	&:focus,
	&:hover {
    color: #c6e2ff;
		text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
	}
}

.glass {
	background: rgba( 0, 0, 0, 0.15 );
	backdrop-filter: blur( 2.5px );
	-webkit-backdrop-filter: blur( 2.5px );
	border-radius: 10px;
  }

.table {
	--bs-table-bg: rgba( 0, 0, 0, 0.15 );
	backdrop-filter: blur( 2.5px );
}