{% load i18n %}
<div class="mx-3 my-2">
    <div class="d-flex flex-column">
        <hr><span class="ft_span">{% trans 'terms_pro_title' %}</span><hr>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_pro_strong' %}</strong>: {% trans 'terms_pro_text' %}
        </span>
    </div>
    <div class="d-flex flex-column mt-3">
        <hr><span class="ft_span">{% trans 'terms_gdpr_title' %}</span><hr>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_gdpr_main_strong' %}</strong>: {% trans 'terms_gdpr_main_text' %}
        </span>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_gdpr_rect_strong' %}</strong>: {% trans 'terms_gdpr_rect_text' %}
        </span>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_gdpr_eras_strong' %}</strong>: {% trans 'terms_gdpr_eras_text' %}
        </span>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_gdpr_rest_strong' %}</strong>: {% trans 'terms_gdpr_rest_text' %}
        </span>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_gdpr_obj_strong' %}</strong>: {% trans 'terms_gdpr_obj_text' %}
        </span>
    </div>
    <div class="d-flex flex-column mt-3">
        <hr><span class="ft_span">{% trans 'terms_wuydf_title' %}</span><hr>
        <span class="ft_mini_span">{% trans 'terms_wuydf_subtitle' %}</span>
        <span class="ft_mini_span">
            <strong>{% trans 'terms_wuydf_strong' %}</strong>: {% trans 'terms_wuydf_text' %}
        </span>
    </div>
</div>
