{% load i18n %}
{% if two_factor_auth_qr_code_base64 and not control_user.two_fa %}
<div class="modal fade" id="enableTwoFactorAuthModal" tabindex="-1" aria-labelledby="enableTwoFactorAuthModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title ft_span" id="enableTwoFactorAuthModalLabel">{% trans 'span_tfa_enable_long' %}</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" align="center">
                <div class="d-flex justify-content-center ft_img_div ft_img_normal ft_img_div-light">
                    <img src="data:image/png;base64,{{ two_factor_auth_qr_code_base64 }}" alt="QR Code">
                </div>
                <form class="form mt-3" onsubmit="verifyTwoFactorAuthCode(event)">
                    <div class="text-start">
                        <span class="ft_span">{% trans 'form_label_tfa_code' %}</span>
                        <label for="etfac" class="d-none">{% trans 'form_label_tfa_code' %}</label>
                        <div class="ft_input_div mt-2">
                            <input id="etfac" name="two_fa_code" type="text" placeholder="{% trans 'form_placeholder_tfa_code' %}" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="ft_text-danger" id="enabletwofa_error"></div>
                    <div class="d-flex mt-3">
                        <button type="submit" class="ft_button ft_button-success flex-grow-1">{% trans 'main_tfa_enable_short' %}</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="ft_button ft_button-danger flex-grow-1" data-bs-dismiss="modal">{% trans 'main_close' %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
