{% load i18n %}
{% if not request.session.two_fa_required and not control_user.null_password %}
{% if control_user %}
<div class="mx-3 my-2 position-relative">
    <button class="ft_button ft_button-primary position-absolute top-0 end-0 px-3 py-1 z-1" data-bs-toggle="modal" data-bs-target="#profileSettingsModal">
        <i class="bi bi-gear-fill"></i>
    </button>
    <div class="d-flex flex-column flex-sm-row align-items-center">
        <div class="ratio ratio-1x1 ft_img_div ft_img_normal ft_img_div-primary">
{% if control_user.ft_image %}
            <img src="{{ control_user.ft_image }}" alt="ft_image" />
{% elif control_user.profile_image %}
            <img src="{{ MEDIA_URL }}{{ control_user.profile_image }}" alt="profile_image" />
{% else %}
{% load static %}
            <img src="{% static 'images/default-pic.jpg' %}" alt="profile_image" />
{% endif %}
        </div>
        <div class="ms-sm-4 mt-3 mt-sm-0 text-center text-sm-start">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column mt-2">
                    <div class="d-flex flex-column flex-sm-row align-items-center">
                        <div>
                            <span class="ft_span">{% trans 'span_name' %}</span>
                        </div>
                        <div class="ms-sm-2">
{% if control_user.anonymous_name %}
                            <code class="ft_mini_span ft_text-danger">{% trans 'main_private' %}</code>
{% else %}
                            <code class="ft_mini_span ft_text-success">{% trans 'main_public' %}</code>
{% endif %}
                        </div>
                    </div>
                    <span class="mt-2 mt-sm-0 ft_mini_span">{{ control_user.first_name }} {{ control_user.last_name }}</span>
                </div>
                <div class="d-flex flex-column mt-2">
                    <span class="ft_span">{% trans 'form_label_username_main' %}</span>
                    <span class="ft_mini_span">{{ control_user.username }}</span>
                </div>
                <div class="d-flex flex-column mt-2">
                    <span class="ft_span">{% trans 'main_language' %}</span>
{% for code, name in LANGUAGES %}
{% if control_user.lang == code %}
                    <span class="ft_mini_span">{{ name }}</span>
{% endif %}
{% endfor %}
                </div>
                <div class="d-flex flex-column mt-2">
                    <span class="ft_span">{% trans 'span_tfa_auth' %}</span>
{% if control_user.two_fa %}
                    <button class="ft_button ft_button-danger" onclick="disableTwoFactorAuth(event)">{% trans 'main_tfa_disable_short' %}</button>
{% else %}
                    <button class="ft_button ft_button-success" onclick="enableTwoFactorAuth(event)">{% trans 'main_tfa_enable_short' %}</button>
{% endif %}
                </div>
                <div class="d-flex flex-column mt-2">
                    <div class="ft_span d-flex flex-row align-items-center ft_text-danger">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span class="ms-1">{% trans 'main_danger' %}</span>
                    </div>
                    <button class="ft_button ft_button-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">{% trans 'main_delete_account' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
