{% load i18n %}
{% if not request.session.two_fa_required and not control_user.null_password %}
{% if control_user %}
<div class="mx-2 text-center ft_game_button w-100">
    <form class="w-100 mt-3" onsubmit="PlayerVsPlayerConfigGame(event)" enctype="multipart/form-data">
        <div class="text-start">
            <span class="ft_title">{% trans 'span_game_settings' %}</span>
        </div>
        <div class="text-start mt-3">
            <div class="mt-2">
                <span class="ft_span">{% trans 'form_label_game_ball_color' %}</span>
                <label for="pvpcgbc" class="d-none">{% trans 'form_label_game_ball_color' %}</label>
                <div class="ft_input_div mt-2">
                    <input id="pvpcgbc" type="color" name="ball_color" value="#C62828" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="text-start mt-3">
            <div class="mt-2">
                <span class="ft_span">{% trans 'form_label_game_field_color' %}</span>
                <label for="pvpcgfc" class="d-none">{% trans 'form_label_game_field_color' %}</label>
                <div class="ft_input_div mt-2">
                    <input id="pvpcgfc" type="color" name="field_color" value="#000000" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="text-start mt-3">
            <span class="ft_span">{% trans 'form_label_game_field_image' %}</span>
            <label for="pvpcgfi" class="d-none">{% trans 'form_label_game_field_image' %}</label>
            <div class="ft_input_div mt-2">
                <input id="pvpcgfi_helper" type="text" readonly />
            </div>
            <input id="pvpcgfi" name="field_image" type="file" class="d-none" onchange="document.getElementById('pvpcgfi_helper').value=this.value" />
            <div class="d-flex mt-2">
                <button type="button" class="ft_button ft_button-light flex-grow-1" onclick="document.getElementById('pvpcgfi').click();">{% trans 'main_image_game_field_upload' %}</button>
            </div>
        </div>
        <div class="text-start mt-3">
            <div class="mt-2">
                <span class="ft_span">{% trans 'form_label_game_max_points' %}</span>
                <label for="pvpcgmp" class="d-none">{% trans 'form_label_game_max_points' %}</label>
                <div class="ft_input_div mt-2">
                    <input id="pvpcgmp" type="number" name="max_points" value="5" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="text-start mt-3">
            <div>
                <span class="ft_subtitle">{% trans 'main_game_player_home' %} 1</span>
            </div>
            <div class="mt-2">
                <span class="ft_span">{% trans 'form_label_game_padel_color' %}</span>
                <label for="pvpcglpc" class="d-none">{% trans 'form_label_game_padel_color' %}</label>
                <div class="ft_input_div mt-2">
                    <input id="pvpcglpc" type="color" name="left_padel_color" value="#1E90FF" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="text-start mt-3">
            <div>
                <span class="ft_subtitle">{% trans 'main_game_player_away' %} 2</span>
            </div>
            <div class="mt-2">
                <span class="ft_span">{% trans 'form_label_game_padel_color' %}</span>
                <label for="pvpcgrpc" class="d-none">{% trans 'form_label_game_padel_color' %}</label>
                <div class="ft_input_div mt-2">
                    <input id="pvpcgrpc" type="color" name="right_padel_color" value="#FFB300" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="ft_text-danger" id="playervsplayerconfiggame_error"></div>
        <button type="submit" class="ft_button ft_button-primary mt-3 w-100">{% trans 'main_game_start' %}</button>
    </form>
</div>
{% endif %}
{% endif %}
