{% load i18n %}
{% if not request.session.two_fa_required and not control_user.null_password %}
{% if control_user %}
<div class="mx-2 text-center ft_game_button w-100">
    <form class="w-100" onsubmit="TournamentCheckPlayer(event)">
        <div class="text-start">
            <span class="ft_title">{% trans 'span_game_tour_check_player' %}</span>
        </div>
        <div class="text-start">
            <span class="ft_span">{% trans 'form_label_username_player' %}</span>
            <label for="tappa" class="d-none">{% trans 'form_label_username_player' %}</label>
            <div class="ft_input_div mt-2">
                <input id="tappa" type="text" name="player_alias" autocomplete="off" placeholder="{% trans 'form_placeholder_username_player' %}" required />
            </div>
        </div>
        <div class="text-start mt-3">
            <div class="mt-2">
                <span class="ft_span">{% trans 'form_label_game_padel_color' %}</span>
                <label for="tappc" class="d-none">{% trans 'form_label_game_padel_color' %}</label>
                <div class="ft_input_div mt-2">
                    <input id="tappc" type="color" name="padel_color" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="ft_text-danger" id="tournamentcheckplayer_error"></div>
        <div class="ft_text-success" id="tournamentcheckplayer_success"></div>
        <button type="submit" class="ft_button ft_button-primary mt-3 w-100">{% trans 'main_game_tour_check_player' %}</button>
    </form>
    <button class="ft_button ft_button-primary mt-3 w-100" onclick="Tournament(event)">{% trans 'main_game_tour_start' %}</button>
</div>
{% endif %}
{% endif %}
